<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eat Da Burger</title>
		 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	</head>
<style>
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);
body{
	font-family: 'Work Sans', sans-serif;
    font-weight: 300;
	text-align: center;
	color:white;
	background-image: url('background.jpg');
	background-size: cover;
}

.col-md-5{
	background-color:rgba(30,30,30,0.4);
	border-radius: 10px;
}
</style>
	<body>
		{{{ body }}}
	</body>
</html>

