<h1>Time to eat da burger...</h1>
<div class='burgerimage'></div>
<div class='container'>
  <div class='row'>
    <div class='col-md-5 bg-dark'>

    </div>
    {{!-- middle section with submit button --}}
    <div class='col-md-2'>
        <form action="/" method="POST">
          <textarea type="text" name="movie" class= ></textarea>
          <button class ='btn btn-lg btn-outline-danger' type="submit">Add burger</button>
        </form>
    </div>
    <div class='col-md-5 bg-dark'>
      
    </div>



  </div>
    {{#each movies}}
        <h2>movie# {{id}}:  {{movie}}</h2>
    {{/each}}




</div>

