<h1>Time to eat da burger...</h1>
<p>The 300 burgers in 30 days challenge...can you handle it?</p>
<div class='container'>
  <div class='row'>
    {{!-- left section --}}
    <div class='col-md-5'>
      <h2>Burgers to eat!</h2>
    </div>
    {{!-- middle section with submit button --}}
    <div class='col-md-2'>
        <form action="/" method="POST">
          <textarea type="text" name="movie" class= ></textarea>
          <button class ='btn btn-lg btn-outline-light' type="submit">Add burger</button>
        </form>
    </div>
    {{!-- right section --}}
    <div class='col-md-5'>
      <h2>Burgers devoured!</h2>
    </div>



  </div>
    {{!-- {{#each movies}}
        <h2>movie# {{id}}:  {{movie}}</h2>
    {{/each}} --}}




</div>

