@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);
body{
	font-family: 'Work Sans', sans-serif;
    font-weight: 300;
	text-align: center;
	color:white;
	background-image: url('/assets/img/background.jpg');
	background-size: cover;
	background-attachment: fixed
}

.col-md-5{
	background-color:rgba(30,30,30,0.4);
	border-radius: 10px;
}