{{!-- button for burgers to devour. Bootstrap classes added for styling. DATA-ID added for future reference in MYSQL manipulation --}}
	<button class="change-devoured btn btn-sm btn-outline-danger" data-id="{{id}}" >Devour Me!!</button>