	{{!-- button for burgers to delete. Bootstrap classes added for styling. DATA-ID added for future reference in MYSQL manipulation --}}
	<button class="delete-burger btn btn-sm btn-outline-secondary" data-id="{{id}}" >Delete Me!!</button>